/* main */
body {
   background: url("./back_paw.png"); 
   background-size: 300px auto;
}

/* answer */
.answer_photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.answer_panel {
    padding: 30px 30px;
    margin: 15px 0;
    background-color: #f9c6cf;
    border-radius: 20px;
    border: 10px dotted #ffabbc;

}

.answer_panel h5 {
    margin-bottom: 1.5em;
}