/* main */
body {
   background: url("./back_paw.png"); 
   background-size: 300px auto;
}

/* answer */
.answer_photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
}

.answer_panel {
    padding: 30px 30px;
    margin-bottom: 20px;
}