/* main */
body {
    background: url("./back_leaves_4.png");
    background-size: 300px auto;
}

/* answer */
.answer_photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.answer_panel {
    padding: 30px 30px;
    margin: 15px 0;
    background-color: #5f995f;
    border-radius: 20px;
    border: 10px solid #44703a;

}

.answer_panel h5 {
    margin-bottom: 1.5em;
}