/* main */
body {
    background: url("./back_bird_2.png");
    background-size: 350px auto;
}

/* form */
.form_panel {
    width: 100%;
    padding: 30px 30px;
    margin: 15px 0;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: 10px dashed #802127;

}

.form_panel h5 {
    margin-bottom: 0.5em;
}

.form_elem {
    width: 100%;
    margin: 15px 0;
}

.form_elem.crutch input,
textarea,
select {
    width: 50%;
    border-style: solid;
    border-color: #802127;
    border-radius: 7px;
    border-width: 3px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 0;
}